@model IEnumerable<CarShop.Models.Car>

@{
    Layout = "/Views/MasteView.cshtml";
}

<table>
    <tr>
        <td id="main_title" colspan="3"><h1>Welcome</h1></td>
    </tr>
    <tr>
        @foreach (var item in Model) {
            <td class="small_card">
                <img src="@item.Preview" alt="@item.Title" />
                <div class="content">
                    <small>@item.Type</small>
                    <h2>@item.Title</h2>
                    <p>@item.Description</p>
                    <a href="@Url.Action("CarPage", "Home", new { item_id = item.Id } )" title="@item.Title">More information</a>
                </div>
            </td>
        }

    </tr>
    <tr>
        <td class="big_card" colspan="3">
            <img alt="Images" src="/1/images/Form.png" />
            <form onsubmit="return false" action="Home/Lid" method="POST">
                <fieldset>
                    <legend>Checkout</legend>
                    <input type="text" name="Name" placeholder="Enter you name: " required /><br />
                    <input type="tel" name="Tel" placeholder="Enter your phone +380-хх-ххх-хх-хх" required patern="+380-[0-9]{2}-[0-9]{3}-[0-9]{4}" /><br />
                    <select name="Car" required>
                        <option value="Ghibili">Ghibili</option>
                        <option value="Quattroporte">Quattroporte</option>
                        <option value="GranTurismo">GranTurismo</option>
                    </select><br />
                    <input type="submit" />
                </fieldset>
            </form>
        </td>
    </tr>
</table>